.tooltip {
  position: relative;
  display: inline-block;
  margin: 0;
  cursor: pointer;

  .tooltiptext {
    visibility: hidden;
    background-color: var(--black-color);
    color: var(--white-color);
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }

  &:hover .tooltiptext {
    visibility: visible;
  }
}
